<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Meu perfil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item-divider>
    <ion-item>
      <ion-avatar>
        <img src="https://images.unsplash.com/photo-1507003211169-0a1dd7228f2d?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8ZmFjZXxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60">
      </ion-avatar>
      <ion-label>&nbsp;Fulano de tal</ion-label>
    </ion-item>
  </ion-item-divider>

    <ion-item>
      <ion-label>Favoritos</ion-label>
      <ion-icon slot="end" name="heart"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label>Pedidos</ion-label>
      <ion-icon name="bag-check"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label>Configurações</ion-label>
      <ion-icon name="hammer"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label>Sair</ion-label>
      <ion-icon name="exit"></ion-icon>
    </ion-item>
</ion-content>
